
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Data Get and Send</title>
  <meta name="description" content="Add description here">
  <meta name="author" content="Kevin Nolan">

  <style>
  </style>

</head>

<body>
  <script>
  </script>
<h1>Getting and sending data</h1>


</body>

</html>