<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Get and Post test for Mission Labs</title>
  <meta name="description" content="JQuery Get Post">
  <meta name="author" content="Kevin Nolan">


</head>

<body>
<h1>Get, process and post user list</h1>
<form action="/getsend" method="POST">
<button>Go!</button>
</body>

</html>